$('#customer_info').html('<div id = "customer_address"><b><%= @customer_info.full_name %></b><br /><%= @customer_info.address %><br /><%= @customer_info.city %>, <%= @customer_info.region.name %></div>');

$('.payment').html('<%= j render "order_summary", customer: @customer_info, cart: Cart.find(session[:cart_id]).cart_items, tax: get_tax @customer_info.region %>');
